@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap');


/*==========Common Css End==========*/

*{
    margin: 0;
    padding:0;
    outline: 0;
}

img{
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
ol,ul,li{
    list-style-type:none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;

}
a:hover{
    cursor: pointer;
}
/*==========Common Css End==========*/



/*=========Header Top Part Start=========*/
.header_top{
    width: 100%;
    height: 118px;  
}

header .logo img{
    padding-top: 13px;
    padding-bottom: 18px;
}
header .logo span {
	padding-left: 7px;
	font-size: 24px;
	color: #3ca2a2;
	line-height: 118px;
    font-family: 'Open Sans', sans-serif;
}
header .number p{
    font-size: 30px;
    color: red;
    line-height: 118px;
    text-align: end;
    font-family: 'Open Sans', sans-serif;
}
/*=========Header Top Part End=========*/
/*==========Main Header Part Start======*/
#navigaion{
    background-color: #c90711;

}
.main_menu{
    padding-top: 0;
    padding-bottom: 0;
}
.main_menu ul li {
    padding: 5px 0;
    transition: .5s;
    
}
.main_menu ul li:hover{
    background-color: #f18d26;
}
.main_menu ul li a{
    font-size: 16px;
    text-transform: capitalize;
    padding: 0 16px !important;
    line-height: 50px;
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.social_icon{
    text-align: end;
}
.social_icon a{
    line-height: 60px;
}
.social_icon i{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    color:#c90711;
    transition: 0.5s;
}
.social_icon i:hover{
    background-color: #c90711;
    color: white;
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    border: 1px solid rgba(0, 0, 0, 0.226);
}
/*=========Main Header Part End======*/



/*===========Banner Part Start=========*/
#banner{
    background: url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;  
    padding: 60px 0;
     
}
.banner_text h2{
  text-transform: capitalize;
  font-size: 36px;
  color: #215a6d;
 }
.banner_text h1{
    font-size: 48px;
    padding-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #215a6d;

}
.banner_text p{
    padding-bottom: 40px;
    font-size: 16px;
    color: #215a6d;
    font-family: 'Open Sans', sans-serif;
    padding-right: 142px;
    margin-bottom: 0;
}
.banner_btn a{
    text-transform: capitalize;
    font-size: 18px;
    padding: 15px 40px;
    border: 2px solid #92c7a3;
    display: inline-block;
    border-radius: 50px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.banner_btn a:hover{
    background-color: #92c7a3;
    color: white;
}
.banner_sub_image{
    position: relative;
}
.banner_sub_image img {
	position: absolute;
	top: -22px;
	right: -15px;
    width: 100%;
}
/*===========Banner Part End=========*/



/*===========Service Part Start=======*/
#service{
    padding-top: 50px;
    padding-bottom: 80px;
}

.service{
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.137);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.service h3{
    text-transform: capitalize;
    font-size: 22px;
    padding-bottom: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color:#3cbdbd ;

}

.service:hover{
  transform:translateY(-50px);
  -webkit-transform:translateY(-50px);
  -moz-transform:translateY(-50px);
  -ms-transform:translateY(-50px);
  -o-transform:translateY(-50px);
    
}
.service p{
    padding-top: 18px;
    line-height: 22px;
    font-size: 13px;
    padding-bottom: 26px;
    color: #1f7272;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.service a{
    text-transform: capitalize;
    color:#3cbdbd ;
    font-family: 'Open Sans', sans-serif;
}
.service i{
    color:red;
    margin-right: 5px;
}
.service_bottom{
    opacity: 0;
}
.service:hover .service_bottom{
    opacity: 1;
}
/*===========Service Part End=======*/



/*===========Notice and Featured Video Part Start==========*/
#notice_and_featured_video{
    background-color: #dfece6;
    padding: 50px 0;
}

 .notice_board_text h2{
    text-transform: capitalize;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    position: relative;
}
.notice_board_text h2::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: -2px;
    background-color: red;
    width: 53px;
    height: 2px;
}
.notice_board_text ul {
    padding-top: 33px;
    padding-left: 0;
}
.notice_board_text ul li{
    padding: 15px;
    list-style-type: none;
    background-color: white;
    border-bottom: 1px solid #3ca2a2;
    color: #3ca2a2;
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.notice_board_text ul li i {
	position: absolute;
	right: 0;
	top: 0px;
	font-size: 40px;
	color: white;
	background-color: red;
	padding: 7px;
}
.notice_board_text .view_all a{
    padding-top: 25px;
    color: rgb(161, 4, 4);
    text-transform: capitalize;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.featured_video h2{
    text-transform: capitalize;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    position: relative;
}
.featured_video h2::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: -2px;
    background-color: red;
    width: 53px;
    height: 2px;
}
.featured_video img{
    padding-top: 43px;
    padding-left: 10px;
}
/*===========Notice and Featured Video Part End==========*/



/*===========Events, Service and Gallery Part Start========*/
#events_service_gallery{
    padding-top: 65px;
    padding-bottom: 75px;
    
}

.events h2{
    text-transform: capitalize;
    padding-bottom: 5px;
    font-size: 28.51px;
    color: #215a6d;
    border-bottom: 1px solid rgba(128, 128, 128, 0.637);
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
.events h2::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: -2px;
    background-color: red;
    width: 53px;
    height: 2px;
}
.events h4{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 18px;
    color: #3ca2a2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.events .event_pragraph1 p{
    font-family: 'Open Sans', sans-serif;
    color: #215a6d;
    font-size: 13px;
    padding-bottom: 20px;
}
.event_pragraph2{
    border-top: 1px solid rgba(0, 0, 0, 0.144);
}

.event_pragraph2 p{
    color: #215a6d;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 30px;
    font-size: 13px;
    
}

.medical_service ul{
    list-style: none;
    padding-top: 44px;
    padding-left: 0;
}
.medical_service ul li{
    padding: 9px 0;
    color: #215a6d;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.medical_service ul li i{
    color:rgb(196, 1, 1);
    padding: 0 5px;
}


.medical_service h2{
    text-transform: capitalize;
    padding-bottom: 5px;
    font-size: 28.51px;
    color: #215a6d;
    border-bottom: 1px solid rgba(128, 128, 128, 0.637);
    position: relative;
}
.medical_service h2::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: -2px;
    background-color: red;
    width: 53px;
    height: 2px;
}

.gallery h2{
    text-transform: capitalize;
    padding-bottom: 5px;
    font-size: 28.51px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.637);
    color: #215a6d;
    position: relative;
}
.gallery h2::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: -2px;
    background-color: red;
    width: 53px;
    height: 2px;
}
.gallery_section{
    padding-top: 35px;
    margin-bottom: 25px;
}

.gallery img{
    border: 3px solid #92c7a388;
    margin-bottom: 10px;
}
#events_service_gallery .view_all i{
	padding-top: 25px;
	color: rgb(161, 4, 4);
	font-size: 14px;
    padding-right: 5px;
}
#events_service_gallery .view_all a {
	padding-top: 25px;
	color: rgb(161, 4, 4);
	text-transform: capitalize;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
    color: #2a85a3;
}
/*===========Events, Service and Gallery Part Start========*/



/*===========Doctor Part Start===========*/
#doctor .doctor_header_text h2{
    text-transform: capitalize;
    font-size: 28px;
    color: #215a6d;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid rgba(128, 128, 128, 0.13);
}
#doctor .doctor_header_text h2::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: -2px;
    background-color: red;
    width: 53px;
    height: 2px;
}
.doctors_profile{
    padding-top: 27px;
    padding-bottom:95px ;
}
.profile{
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: .5s;
}
.profile:hover{
    transform: translateY(-26px);
    -webkit-transform: translateY(-26px);
    -moz-transform: translateY(-26px);
    -ms-transform: translateY(-26px);
    -o-transform: translateY(-26px);
}
.profile h3{
    text-transform: capitalize;
    font-size: 18px;
    color: #289c9c;
    padding-top: 15px;
    font-family: 'Open Sans', sans-serif;
}
.profile h6{
    text-transform: capitalize;
    font-size: 12px;
    color: rgba(128, 128, 128, 0.651);
    font-family: 'Open Sans', sans-serif;
}
.profile p{
    text-transform: capitalize;
    font-size: 12px;
    color: red;
    font-family: 'Open Sans', sans-serif;
}

.profile_text{
    opacity: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.profile:hover .profile_text{
   opacity: 1;
}
/*================Doctor Part End===================*/



/*================Footer Part Start===================*/
#nav_service_training_contact{
    background-color: #222222;
    padding: 23px 0 43px 0;
    color:white
}
.about_contact_header_text{
    padding-bottom: 45px;
}

.about_contact_header_text span{
    color: #3ca2a2;
    font-size: 25px;
    padding-left: 25px;
    font-weight: 600;
}

.text_section h3{
    text-transform: capitalize;
    color: #3ca2a2;
    font-size: 18px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.text_section ul li{
    text-transform: capitalize;
    padding: 8px 0;
    
}
.text_section ul li a{
    color: white;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
.text_section ul li a i{
    color:rgb(192, 2, 2);
    padding-right: 5px;
}


/*==========Footer Part End==========*/
footer{
    background-color: rgb(214, 0, 0);

}
.footer_bottom p{
    color: rgba(255, 255, 255, 0.699);
    text-transform: capitalize;
    padding: 18px 0;
    text-align: center;
    margin-bottom: 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;

}